<h1><%= @game.name %></h1>
				
				<section class="meta">
				<p>Author: <a href="http://www.jabz.info/contact/jonas-jared-jacek/"><%= @game.author %></a> | Date: <%=@game.created_at.strftime("%a %e, %b %Y") %> | Comments: <a href="#comments"><%=@game.comments.count %></a></p>
				<p>Tags: <a href="#" rel="tag"><%= @game.smallname %></a>, <a href="#" rel="tag">2-player</a></p>
				</section>
				
				<%= sanitize(RedCloth.new(@game.statement, [:filter_styles, :filter_html, :filter_classes, :filter_ids]).to_html) %>
				
				<h3>Input Format</h3>
				<%= sanitize(RedCloth.new(@game.inputdetails, [:filter_styles, :filter_html, :filter_classes, :filter_ids]).to_html) %>
				
				<h3>Output Format</h3>
				<%= sanitize(RedCloth.new(@game.outputdetails, [:filter_styles, :filter_html, :filter_classes, :filter_ids]).to_html) %>
				
				<h3>Requirements</h3>
				<%= sanitize(RedCloth.new(@game.requirements, [:filter_styles, :filter_html, :filter_classes, :filter_ids]).to_html) %>

<h4 id="submit">Submit your code</h4>

<% form_for(Source.new(:game => @game) ) do |f| %>
		<%= f.hidden_field :game_id %>
    <%= f.label :language %>
    <%= f.select(:language, options_for_select([['C', 'c'], ['C++', 'cpp'], ['Pascal', 'pas']], 'c')) %>
    <%= f.label :code %>
    <%= f.text_area :code%>
  <br/>

  <%= f.submit "Submit", :class => 'button' %>  
<% end %>


<%= render :partial => "partials/comments" %>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
