<h1><%= @game.name %></h1>
				
				<section class="meta">
				<p>Author: <a href="http://www.jabz.info/contact/jonas-jared-jacek/"><%= @game.author %></a> | Date: <%=@game.created_at.strftime("%a %e, %b %Y") %> | Comments: <a href="#comments"><%=@game.comments.count %></a></p>
				<p>Tags: <a href="#" rel="tag"><%= @game.smallname %></a>, <a href="#" rel="tag">2-player</a></p>
				</section>
				
				<%= sanitize(RedCloth.new(@game.statement, [:filter_styles, :filter_html, :filter_classes, :filter_ids]).to_html) %>
				
				<h3>Input Format</h3>
				<%= sanitize(RedCloth.new(@game.inputdetails, [:filter_styles, :filter_html, :filter_classes, :filter_ids]).to_html) %>
				
				<h3>Output Format</h3>
				<%= sanitize(RedCloth.new(@game.outputdetails, [:filter_styles, :filter_html, :filter_classes, :filter_ids]).to_html) %>
				
				<h3>Requirements</h3>
				<%= sanitize(RedCloth.new(@game.requirements, [:filter_styles, :filter_html, :filter_classes, :filter_ids]).to_html) %>

<h4 id="comments">Comments</h4>

<% for comment in @comments %>
<section class="comment">
				<div class="chead">
					<%= link_to image_tag(comment.user.photo.url(:thumb), :title => comment.user.username), comment.user %>
					<p class="ctitle"><b><%= comment.title %></b></p>
					<p>by <%= link_to comment.user.username, comment.user %> at <%=comment.created_at.strftime("%a %e, %b %Y %H:%M") %></p>
				</div>
				<div class="cbody">
				<%= sanitize(RedCloth.new(comment.comment, [:filter_styles, :filter_html, :filter_classes, :filter_ids]).to_html) %>
				</div>
				</section>
<% end %>

<% form_for([@game, Comment.new],  :url => comment_game_path) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    
    <%= f.label :comment %>
    <%= f.text_area :comment %>
    <br/>
    <%= f.submit "Submit", :class => 'button' %>
<% end %>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
